<% include header %>

<% include gallery %>


<!-- main section starts -->
<div id="tooplate_main">
    
    <!-- content section starts -->
    <div id="tooplate_content">
    
        <h2>Welcome to FindUs</h2>
        <h3>About page</h3>
        
        <!-- Write your content here -->

    </div>
    <!-- content section ends -->

    <!-- sidebar section starts -->
    
        <div id="tooplate_sidebar">
        
            <h2>Social Links</h2>
            
            <ul class="tooplate_list">
            <li><a href="#">@Facebook</a></li>
            <li><a href="#">@Twitter</a></li>
            <li><a href="#">@Gmail</a></li>
            <li><a href="#">@Google+</a></li>
            
            <div class="cleaner_h60"></div>
            
            
        
        
        </div>
        <!-- sidebar section ends -->

		<div class="cleaner"></div>
</div>
<div class="cleaner"></div>  

<!-- main section ends -->

<% include footer %>
