<% include adminheader %>


<!-- main section starts -->
<div id="tooplate_main">
        <center>
        <h1>Welcome to FindUs Admin panel</h1>
        </center>
        <!-- Write your content here -->
		<div class="cleaner"></div>
</div>
<div class="cleaner"></div>  

<!-- main section ends -->

<% include footer %>
