<% include userheader %>


<!-- main section starts -->
<div id="tooplate_main">

<center>
<h1>Change Password Here!!!</h1>
<font color="orange"><%= msg %></font>
<form method="post" action="">
Old password <input type="text" name="oldpass" placeholder="Enter  old password"/>
<br><br>
New password <input type="text" name="newpass" placeholder="Enter new password"/>
<br><br>
Confirm New password <input type="text" name="cnewpass" placeholder="Enter confirm new password"/>
<br><br>
<input type="submit" value="Change Password"/>
</form>

</center>
        
		<div class="cleaner"></div>
</div>
<div class="cleaner"></div>  

<!-- main section ends -->

<% include footer %>
