<% include adminheader %>


<!-- main section starts -->
<div id="tooplate_main">

    <center>
        <h3 style="color: orange;"><%= msg %></h3>
        <h2>Add Category Here!!!</h2>
        <form method="post" enctype="multipart/form-data" action="" >
                <table cellspacing="20">
                <tr>
                <td><label>Category Name</label></td>
                <td><input type="text" name="catnm" placeholder="Enter Category Name"/></td>    
                </tr>
                <tr>
                <td><label>Category Icon</label></td>
                <td><input type="file" name="caticon" /></td>    
                </tr>
                <tr>
                <td><input type="submit" value="Add Category" /></td>    
                </tr>        
                </table>
                </form>
    </center>    

<!-- Write your content here -->
<div class="cleaner"></div>
</div>
<div class="cleaner"></div>  

<!-- main section ends -->

<% include footer %>
